# 剧本类型: "basic" (无剧本) | "onsen" (温泉剧本)
scenario = "onsen"

# 日志级别: "debug" (完整显示) | "off" (全部关闭)
log_level = "info"

# 训练员类型: "manual" (手动选择) | "random" (猴子训练员)
trainer = "manual"

# 马娘ID
uma = 106301

# 卡组(ID, 突破等级)
# 温泉剧本需要包含友人卡 (chara_id = 9050)
cards = [302754, 302654, 302744, 302644, 302774, 302764]

# 种马蓝因子个数 [速度, 耐力, 力量, 根性, 智力]
blue_count = [12, 0, 6, 0, 0]

# 种马额外属性 [速度, 耐力, 力量, 根性, 智力, 技能点]
extra_count = [0, 30, 0, 0, 30, 30]