# 完整配置在 gamedata/default_config.toml 中修改，这里只包含最常用的配置
#---------------------------------------------------
# 温泉选择优先顺序，根据育成需求调整
# 温泉ID: 
# 第一年: (1)疾驰 (2)坚忍 (3)明晰
# 第二年: (4)骏闪 (5)刚足 (6)健壮 (7)天翔
# 第三年: (8)秘汤 - 分身效果 (9)传说 - 比赛+80%（⭐特殊：第三年9月强制选择）
#---------------------------------------------------
[onsen_order]
year1 = [1, 3, 2]
year2 = [6, 7, 4, 2]
year3 = [8, 9, 4, 2, 5]

[config_override]
#---------------------------------------------------
# 剧本因子额外属性 [速度, 耐力, 力量, 根性, 智力, 技能点]
# 例如：默认设置下，每次继承除了蓝因子126属性以外，会额外得到10速度，20根/智, 40pt
#---------------------------------------------------
extra_count = [10, 0, 0, 20, 20, 40]

#---------------------------------------------------
# 温泉选择是否允许蒙特卡洛自由发挥。安卓马建议设为false减少世界线，狄杜斯凹分建议开启
#---------------------------------------------------
mcts_selected_onsen = true

#---------------------------------------------------
# 日志级别: "debug" (完整显示) | "off" (全部关闭) | "info" (简要显示) | "trace" (详细显示) 
#---------------------------------------------------
log_level = "info"

#---------------------------------------------------
# 蒙特卡洛配置
#---------------------------------------------------
[mcts]
# 每个动作的搜索次数（默认 12288；计算太慢可选 8192/4096，安卓马建议>16384）
search_n = 12288

#---------------------------------------------------
# 激进度上限：越大越重视胡局; 如果选择训练失败则考虑减少激进度到0附近
# 0 - 完全平均
# 0-1 - 轻微忽视差局面（如训练失败）
# 1-2 - 忽视差局面，只统计好局面
# 2-4 - 只考虑很好的局面
# >4 - 只考虑最好的局面
#---------------------------------------------------
radical_factor_max = 1.4
